<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Producto</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Registrar Producto</h1>
      <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            placeholder="Ejemplo: Leche"
            required
          />
        </div>

        <div class="form-group">
          <label for="categoria">Categoría</label>
          <input
            type="text"
            name="categoria"
            id="categoria"
            class="form-control"
            placeholder="Ejemplo: Lácteos"
            required
          />
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea
            name="descripcion"
            id="descripcion"
            class="form-control"
            placeholder="Descripción del producto"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="precio">Precio (Q)</label>
          <input
            type="number"
            step="0.01"
            name="precio"
            id="precio"
            class="form-control"
            placeholder="Ejemplo: 15.50"
            required
          />
        </div>

        <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <input
            type="number"
            name="cantidad"
            id="cantidad"
            class="form-control"
            placeholder="Ejemplo: 20"
            required
          />
        </div>

        <div class="form-group">
          <label for="fecha_vencimiento">Fecha de Vencimiento</label>
          <input
            type="date"
            name="fecha_vencimiento"
            id="fecha_vencimiento"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary"
          >Cancelar</a
        >
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
